Credit Note Online Submission/Microsoft.Flow/flows/1f08a6da-86e1-485e-bffe-c16a3b00b71d/definition.json
{"name":"41b2e04c-2b10-4df5-852f-a4b571f0c638","id":"/providers/Microsoft.Flow/flows/41b2e04c-2b10-4df5-852f-a4b571f0c638","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Credit Note Submission Notice","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a005f8fc-901c-41d0-92a4-877fa915a01c","type":"User","tenantId":"e96fa72b-c8d6-4957-96bd-c7f8dc30cc88"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-01-12T09:39:06.1928991Z","connectionKeySavedTimeKey":"2024-01-12T09:39:06.1928991Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"metadata":{"operationMetadataId":"8df08790-c88b-497c-93b9-4d00fefb75e3"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"K6dv6dbIV0mWvcf43DDMiPz4BaAckNBBkqSHf6kVoBxURVdYWUhBNzhUSVpHQ0pDSTYzNlAzNDIzRS4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"4e5f20f0-99c5-4ec7-a26c-697cba43e20b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"K6dv6dbIV0mWvcf43DDMiPz4BaAckNBBkqSHf6kVoBxURVdYWUhBNzhUSVpHQ0pDSTYzNlAzNDIzRS4u","response_id":"@items('Apply_to_each')?['resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Formated_Submission_Date":["Succeeded"]},"metadata":{"01U6BUSKGIEKDFOCW675FKZ7QDP7ZZVJVP":"/HL Documents/01-Credit Note Approvals/Credit Note Approval Records.xlsx","operationMetadataId":"59d0ab88-4c02-4191-b286-2c5e48c1fa19","tableId":"{161328B7-3194-44B0-91AC-B8CE71848FF4}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"sites/uknow.sharepoint.com,0914b81e-9fdf-4b2a-b658-fe94b9bd2037,9b5d93b7-a0b1-44da-b794-e5916051a211","drive":"b!HrgUCd-fKku2WP6Uub0gN7eTXZuxoNpEt5TlkWBRohG4VECNnT_cQbNZzIeVYtH-","file":"01U6BUSKGIEKDFOCW675FKZ7QDP7ZZVJVP","table":"{161328B7-3194-44B0-91AC-B8CE71848FF4}","dateTimeFormat":"ISO 8601","item/Filled Date":"@outputs('Formated_Submission_Date')","item/Customer No_x002e_":"@outputs('Get_response_details')?['body/rb6657fb2ac8247688167cb1c786425d4']","item/Customer Name":"@outputs('Get_response_details')?['body/rbca872ef310542d98a879b31bf2872b3']","item/Invoice Date":"@outputs('Get_response_details')?['body/redee1906cc3743e2b0bcd47a157c079d']","item/BOSS Order No_x002e_":"@outputs('Get_response_details')?['body/rebb7f12a6be04f92a3760369b28dd0f6']","item/Cost Center":"@outputs('Get_response_details')?['body/rc1b5cf4587744b45b616dcdf7353345f']","item/Invoice(s) No_x002e_":"@outputs('Get_response_details')?['body/r6e2361020283462482b95fda888084c3']","item/Ref_x002e_ Case ~1 Report No_x002e_":"@outputs('Get_response_details')?['body/rb9629e8e7181444ebbfe1d27f0961d39']","item/Invoice amount":"@outputs('Get_response_details')?['body/re044adb9dcf84ce481e65341a6bd27cd']","item/Currency":"@outputs('Get_response_details')?['body/re9407ddabd024634a20af7db7a8524c4']","item/Correct invoice amount":"@outputs('Get_response_details')?['body/r396fe48f087a4535b460b43321331c74']","item/Correct currency":"@outputs('Get_response_details')?['body/re9407ddabd024634a20af7db7a8524c4']","item/No_x002e_ of Credit Note Issued":"@outputs('Get_response_details')?['body/rf6ac210ff59d43a99ee948863f59ff70']","item/Responsible Team":"@outputs('Get_response_details')?['body/rc2392fb0812c4aa486c713d2fb673dc6']","item/Requested ~1 Responsible Person":"@outputs('Get_response_details')?['body/r515d052ba24f4349a5c00d9527891ed2']","item/Root Cause Analysis":"@outputs('Get_response_details')?['body/r9f135b4350cc4f2cb9bcad974f0928d0']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"1769d987-2c82-4915-b7eb-2178103a2c1b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Timothy.Chan@uknow.com","emailMessage/Subject":"[@{outputs('Formated_Submission_Date')}] New Credit Note Approval Application Submitted _@{outputs('Get_response_details')?['body/rb6657fb2ac8247688167cb1c786425d4']}_@{outputs('Get_response_details')?['body/rbca872ef310542d98a879b31bf2872b3']}","emailMessage/Body":"<p>Please note that a new credit note approval application has been submitted.<br>\nThe details are as follows:<br>\n@{outputs('Compose_2')}</p>","emailMessage/Cc":"@outputs('Get_response_details')?['body/responder']","emailMessage/Attachments":"@variables('file_contents')","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}},"Formated_Submission_Date":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"c73ea4c0-5b1a-4929-9c1c-c231182db332"},"type":"Compose","inputs":"@formatDateTime(outputs('Get_response_details')?['body/submitDate'],'yyyy-MM-dd')"},"Compose":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"400f3f21-f05b-4b27-bd04-8dc91c597be4"},"type":"Compose","inputs":"@json(outputs('Get_response_details')?['body/r1dfdf591c26f4d198db2531cebce6640'])"},"Apply_to_each_2":{"foreach":"@outputs('Compose')","actions":{"Name":{"runAfter":{},"metadata":{"operationMetadataId":"da23f2b1-66f1-4186-b9da-6e7ec5cede65"},"type":"Compose","inputs":"@items('Apply_to_each_2')['name']"},"Link":{"runAfter":{"Name":["Succeeded"]},"metadata":{"operationMetadataId":"89156c9d-6986-4cf5-b6bc-3ad68ca754db"},"type":"Compose","inputs":"@items('Apply_to_each_2')['link']"},"Append_to_array_variable":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"dc492f28-93b3-4238-85de-d45fabda11bb"},"type":"AppendToArrayVariable","inputs":{"name":"file_contents","value":{"Name":"@outputs('Name')","ContentBytes":"@body('Get_file_content')"}}},"Get_file_content":{"runAfter":{"Link":["Succeeded"]},"metadata":{"operationMetadataId":"d4258a94-8249-49f7-8a08-968c8c1b7538"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@items('Apply_to_each_2')['id']","inferContentType":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"0ccd323e-3733-4426-8510-a5250e9707c6"},"type":"Foreach"},"Append_to_array_variable_2":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"a7155a73-5d6b-415e-a0ba-82955c9224c8"},"type":"AppendToArrayVariable","inputs":{"name":"table","value":{"Submission Date":"@outputs('Formated_Submission_Date')","Customer AC Number":"@outputs('Get_response_details')?['body/rb6657fb2ac8247688167cb1c786425d4']","Customer Name":"@outputs('Get_response_details')?['body/rbca872ef310542d98a879b31bf2872b3']","Cost Center":"@outputs('Get_response_details')?['body/rc1b5cf4587744b45b616dcdf7353345f']","Invoice Number":"@outputs('Get_response_details')?['body/r6e2361020283462482b95fda888084c3']","Invoice Date":"@outputs('Get_response_details')?['body/redee1906cc3743e2b0bcd47a157c079d']","Invoice Amount":"@outputs('Get_response_details')?['body/re044adb9dcf84ce481e65341a6bd27cd']","Invoice Currency":"@outputs('Get_response_details')?['body/re9407ddabd024634a20af7db7a8524c4']","New Invoice Amount":"@outputs('Get_response_details')?['body/r396fe48f087a4535b460b43321331c74']","New Invoice Currency":"@outputs('Get_response_details')?['body/rdff648e0c3784b68b5ce3ed2d31c9dfc']","Additional Information":"@outputs('Get_response_details')?['body/r9f135b4350cc4f2cb9bcad974f0928d0']"}}},"Compose_2":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"af588f60-17bd-4981-b907-b322b4f8de72"},"type":"Compose","inputs":"<table border=\"1\">\n<tr><td>Submission Date</td><td>@{outputs('Formated_Submission_Date')}</td></tr>\n<tr><td>Customer AC Number</td><td>@{outputs('Get_response_details')?['body/rb6657fb2ac8247688167cb1c786425d4']}</td></tr>\n<tr><td>Customer Name</td><td>@{outputs('Get_response_details')?['body/rbca872ef310542d98a879b31bf2872b3']}</td></tr>\n<tr><td>Cost Center</td><td>@{outputs('Get_response_details')?['body/rc1b5cf4587744b45b616dcdf7353345f']}</td></tr>\n<tr><td>Invoice Number</td><td>@{outputs('Get_response_details')?['body/r6e2361020283462482b95fda888084c3']}</td></tr>\n<tr><td>Invoice Date</td><td>@{outputs('Get_response_details')?['body/redee1906cc3743e2b0bcd47a157c079d']}</td></tr>\n<tr><td>Invoice Amount</td><td>@{outputs('Get_response_details')?['body/re044adb9dcf84ce481e65341a6bd27cd']}</td></tr>\n<tr><td>Invoice Currency</td><td>@{outputs('Get_response_details')?['body/re9407ddabd024634a20af7db7a8524c4']}</td></tr>\n<tr><td>New Invoice Amount</td><td>@{outputs('Get_response_details')?['body/r396fe48f087a4535b460b43321331c74']}</td></tr>\n<tr><td>New Invoice Currency</td><td>@{outputs('Get_response_details')?['body/rdff648e0c3784b68b5ce3ed2d31c9dfc']}</td></tr>\n<tr><td>Root Cause</td><td>@{outputs('Get_response_details')?['body/r9f135b4350cc4f2cb9bcad974f0928d0']}</td></tr>\n<tr><td>Additional Information</td><td>@{outputs('Get_response_details')?['body/rfb22196a7ccc4efd8014e7e48d2bb876']}</td></tr>\n</table>"},"Condition":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"f006feb0-d20b-4313-a872-92a872b8935e"},"type":"SetVariable","inputs":{"name":"CCer","value":"Bonnie.Lau@uknow.com"}}},"runAfter":{"Append_to_array_variable_2":["Succeeded"]},"else":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"f006feb0-d20b-4313-a872-92a872b8935e"},"type":"SetVariable","inputs":{"name":"CCer","value":"Kaman.Lai@uknow.com"}}}},"expression":{"equals":["@outputs('Get_response_details')?['body/rc1b5cf4587744b45b616dcdf7353345f']",4321]},"metadata":{"operationMetadataId":"9aff6ef4-eb5c-472a-aead-8d8bd8303e6a"},"type":"If"}},"runAfter":{"EmailTable":["Succeeded"]},"metadata":{"operationMetadataId":"a215e18d-0720-4f2a-bdd9-74689263ea17"},"type":"Foreach"},"Files":{"runAfter":{},"metadata":{"operationMetadataId":"de6226bb-8fda-4a72-b72c-9e5b28eb4889"},"type":"InitializeVariable","inputs":{"variables":[{"name":"file_contents","type":"array"}]}},"EmailTable":{"runAfter":{"CCer":["Succeeded"]},"metadata":{"operationMetadataId":"ff34b31e-c8e1-481f-97de-404895dea7ae"},"type":"InitializeVariable","inputs":{"variables":[{"name":"table","type":"array"}]}},"CCer":{"runAfter":{"Files":["Succeeded"]},"metadata":{"operationMetadataId":"d0f62cd4-f42c-4e48-baf1-e08ce17708cc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CCer","type":"string"}]}}},"outputs":{},"description":"For each new response, send an email notification and create an item in SharePoint."},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-ca627aac-f4b6-43d3-a651-0984f05a76cf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-998e3033-694f-4a22-ad38-eb5909a75eb7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-18fb1200-8fc5-4927-a127-15837e09ec7f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-5c5e7422-2223-483a-a785-75c3f57874eb","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}