Monthly Equipment Notice/Microsoft.Flow/flows/9fee97cb-1758-4b94-a84d-b0137825533c/definition.json
{"name":"05224904-b340-482e-9c9d-356d1d202bff","id":"/providers/Microsoft.Flow/flows/05224904-b340-482e-9c9d-356d1d202bff","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Calibration Notice (TY)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a005f8fc-901c-41d0-92a4-877fa915a01c","type":"User","tenantId":"e96fa72b-c8d6-4957-96bd-c7f8dc30cc88"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-11-01T08:55:53.4221565Z","connectionKeySavedTimeKey":"2023-10-31T08:04:19.1374592Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Trigger_Time":{"recurrence":{"frequency":"Month","interval":1,"timeZone":"China Standard Time","startTime":"2023-01-09T09:00:00.000Z"},"metadata":{"operationMetadataId":"fba28644-f41d-4e19-a1a2-b83d14df8bda"},"type":"Recurrence","description":"Trigger on 9th day of the month."}},"actions":{"Total_External_Row_Number":{"runAfter":{"Processing_Data":["Succeeded"]},"metadata":{"operationMetadataId":"8fef9d8d-3c49-42c4-9afb-d6578b87c883"},"type":"Compose","inputs":"@length(variables('rowExternal'))","description":"Get the number of overdue external calibration records."},"Total_Internal_Row_Number":{"runAfter":{"Total_External_Row_Number":["Succeeded"]},"metadata":{"operationMetadataId":"794e293f-400d-4d1f-9673-d348a79ec88d"},"type":"Compose","inputs":"@length(variables('rowInternal'))","description":"Get the number of overdue internal calibration records."},"Send_Email_Decision":{"actions":{"Send_Email_to_Stakeholders":{"runAfter":{"Create_HTML_Tables":["Succeeded"]},"metadata":{"operationMetadataId":"2c331db8-8e27-4985-998e-f2180ab2fdf9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Email_Receivers')","emailMessage/Subject":"@outputs('Topic_Header')","emailMessage/Body":"<p>@{outputs('Makeup_Table')}</p>","emailMessage/Cc":"@outputs('Email_CCers')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"},"description":"Send Email to Stakeholders."},"Create_HTML_Tables":{"actions":{"CSS_Stylesheet":{"runAfter":{"Topic_Header":["Succeeded"]},"metadata":{"operationMetadataId":"970676f3-9470-4515-bb43-3297fc64df1f"},"type":"Compose","inputs":"<style> \n/* message part started*/\n.message-show {\n  font-family: Arial;\n  margin-bottom: 10px;\n  font-size: 16px;\n}\n.topic-header {\n  font-size: 16px;\n  font-family: Arial;\n  text-align: center;\n  text-decoration: underline;\n  font-face: bold;\n  margin: 8px;\n}\n/* message part ended */\n\n/* table part started */\n.container {\n  margin: 8px 0px;\n}\n.table-topic-header {\n  font-family: Arial;\n  font-size: 16px;\n  font-weight: bold;\n  margin: 8px 0px;\n}\n.table-topic-message {\n  font-size: 16px;\n  font-family: Arial;\n  margin: 5px 0px;\n}\n.table-topic-num {\n  font-weight:bold;\n  font-family: Arial;\n  font-size: 16px;\n}\ntable {\n  background-color: #FAFAFA;\n  border-collapse: collapse;\n  margin: 7px 0px;\n  padding: 5px;\n  font-size: 12px;\n  font-family: Segoe UI;\n  width: 95%\n}\nthead tr {\n  background-color: #21825c;\n  color: #ffffff;\n  text-align: left;\n  margin: 8px 0px;\n}\n\nth, td {\n  padding: 3px 3px;\n  margin: 0px 8px 8px 2px;\n  text-align: left;\n  vertical-align: top;\n  font-size: 12px;\n  border-bottom: 1px solid #dddddd;\n}\n/* table part ended */\n</style>","description":"For Table Makeup"},"Combined_Table":{"runAfter":{"CSS_Stylesheet":["Succeeded"]},"metadata":{"operationMetadataId":"b0a8405f-d275-4566-bfea-e2bec5d17a76"},"type":"Compose","inputs":"<p class=\"message-show\">\nThis is to remind you that the following equipment were overdue or will be overdue soon. For details, please refer to the following table. Thank you.\n</p>\n<br/>\n<p class=\"topic-header\">@{outputs('Topic_Header')}</p>\n<div class=\"container\">\n<span class=\"table-topic-header\">External Calibration</span>\n<br/>\n<span class=\"table-topic-message\">\nThe following equipment through external calibration is overdue/due within <span class=\"table-topic-num\">@{outputs('External_Due_Date_Criteria')}</span> days.\n<br/>\nTotal number of outstanding calibration: <span class=\"table-topic-num\">@{outputs('Total_External_Row_Number')}</span>\n</span>\n</div>\n@{body('Create_external_HTML_table')}\n<br/>\n<div color=\"#21825c\">\n  <hr align=\"left\" style=\"border:0px; border-top:1px solid #21825c; height:0.8px; color:#21825c; background:; margin:1px; width: 95%;\"/>\n</div>\n<div class=\"container\">\n<span class=\"table-topic-header\">Internal Calibration</span><br/>\n<span class=\"table-topic-message\">The following equipment through internal calibration is overdue/due within <span class=\"table-topic-num\">@{outputs('Internal_Due_Date_Criteria')}</span> days.<br/>\nTotal number of outstanding calibration: <span class=\"table-topic-num\">@{outputs('Total_Internal_Row_Number')}</span></span>\n</div>\n@{body('Create_internal_HTML_table')}","description":"Combine the two tables with descriptions."},"Makeup_Table":{"runAfter":{"Combined_Table":["Succeeded"]},"metadata":{"operationMetadataId":"ebc91a82-7e00-41f6-b80e-effc3e163526"},"type":"Compose","inputs":"@{outputs('CSS_Stylesheet')}\n@{outputs('Combined_Table')}","description":"Table Makeup."},"Create_external_HTML_table":{"runAfter":{},"metadata":{"operationMetadataId":"13766d2f-f648-456e-bbfd-45eefab43887"},"type":"Table","inputs":{"from":"@variables('rowExternal')","format":"HTML"},"description":"Create an HTML table using the external result array."},"Create_internal_HTML_table":{"runAfter":{"Create_external_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"f383940d-a734-43d2-886a-0f1f88d99fce"},"type":"Table","inputs":{"from":"@variables('rowInternal')","format":"HTML"},"description":"Create an HTML table using the internal result array."},"Topic_Header":{"runAfter":{"Create_internal_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"911549cd-60c3-41c2-b542-bb2b24d6488f"},"type":"Compose","inputs":"TY Equipment Calibration Alert (@{outputs('Today_in_Printed_Format')})","description":"Topic Header"}},"runAfter":{},"metadata":{"operationMetadataId":"a2caa3f1-97df-4f63-b589-72dfa6a800b0"},"type":"Scope"}},"runAfter":{"Total_Internal_Row_Number":["Succeeded"]},"expression":{"greater":["@add(outputs('Total_External_Row_Number'),outputs('Total_Internal_Row_Number'))",0]},"metadata":{"operationMetadataId":"698d0e2e-bfca-407c-8877-b2f721abeba5"},"type":"If","description":"If sum of rows > 0, send Email to notify the stakeholders. Otherwise do nothing."},"Processing_Data":{"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"1a387210-d5e6-49be-9554-24c31334e058"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://uknow.sharepoint.com/sites/hk-cp-hlqa","table":"3b4b9ebc-431b-4ea2-91e1-ea60b9219221","$filter":"Equipment_x0020_Status ne 'Dispose' and \nEquipment_x0020_Status ne 'Questionable' and\nEquipment_x0020_Status ne 'Stop Use' and\nEquipment_x0020_Status ne 'Accepted for use'  and\n\nCal_x002e__x0020_Frequency_x0020 ne '' and \n\n(CalibrationType eq 'External' or CalibrationType eq 'Internal')","$orderby":"Title"},"authentication":"@parameters('$authentication')"},"description":"Get items from particular SharePoint list, filter items and order by the equipment id.  Pagination set to 2000 rows. Filter unwanted items as many as possible using Filter Query.","runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":2000}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"e051f593-66a7-469e-9ada-b1498a30c191"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://uknow.sharepoint.com/sites/hk-cp-hlqa","table":"3b4b9ebc-431b-4ea2-91e1-ea60b9219221","id":"@items('Apply_to_each')?['ID']"},"authentication":"@parameters('$authentication')"},"description":"For each row, check whether the conditions are satisfied."},"Switch":{"runAfter":{"Current_Data_Monitor":["Succeeded"]},"cases":{"The_1st_case_-_External":{"case":"External","actions":{"Conditions_for_External":{"actions":{"Convert_External_Calibration_Date_Timezone":{"runAfter":{},"metadata":{"operationMetadataId":"696c3fab-e75e-492f-b3c4-e117ec0596e2"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@items('Apply_to_each')?['Next_x0020_Calibration']","formatString":"yyyy-MM-dd","sourceTimeZone":"GMT Standard Time","destinationTimeZone":"China Standard Time"},"description":"Convert timezone to UTC+8 to get the correct equipment due date."},"Add_External_Row":{"runAfter":{"Convert_External_Calibration_Date_Timezone":["Succeeded"]},"metadata":{"operationMetadataId":"a85bbc42-f135-4637-a4b9-a4d9c880e6f0"},"type":"AppendToArrayVariable","inputs":{"name":"rowExternal","value":{"Equipment No":"@outputs('Get_item')?['body/Title']","Equipment Name":"@outputs('Get_item')?['body/Equipment_x0020_Name']","Type of Calibration":"@outputs('Get_item')?['body/CalibrationType/Value']","Cal. Frequency":"@outputs('Get_item')?['body/Cal_x002e__x0020_Frequency_x0020']","Calibration Due Date":"@body('Convert_External_Calibration_Date_Timezone')","Equipment Status":"@outputs('Get_item')?['body/Equipment_x0020_Status/Value']","Parameters or Remarks":"@body('Parameter_Formating_')"}},"description":"Add a new row to the external table array."}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@outputs('Get_item')?['body/Next_x0020_Calibration']",""]}},{"lessOrEquals":["@items('Apply_to_each')?['Next_x0020_Calibration']","@outputs('External_Due_Date')"]}]},"metadata":{"operationMetadataId":"ab8a1ac9-1843-4b95-bb68-c99d46c4a938"},"type":"If","description":"Select only overdue equipment or overdue within 60 days."}}},"The_2nd_case_-_Internal":{"case":"Internal","actions":{"Conditions_for_Internal":{"actions":{"Convert_Internal_Calibration_Date_Timezone":{"runAfter":{},"metadata":{"operationMetadataId":"b1a9d656-5a26-4fe2-bddf-c74db4aa7c8e"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@items('Apply_to_each')?['Next_x0020_Calibration']","formatString":"yyyy-MM-dd","sourceTimeZone":"GMT Standard Time","destinationTimeZone":"China Standard Time"},"description":"Convert timezone to UTC+8 to get the correct equipment due date."},"Add_Internal_Row_":{"runAfter":{"Convert_Internal_Calibration_Date_Timezone":["Succeeded"]},"metadata":{"operationMetadataId":"a85bbc42-f135-4637-a4b9-a4d9c880e6f0"},"type":"AppendToArrayVariable","inputs":{"name":"rowInternal","value":{"Equipment No":"@outputs('Get_item')?['body/Title']","Equipment Name":"@outputs('Get_item')?['body/Equipment_x0020_Name']","Type of Calibration":"@outputs('Get_item')?['body/CalibrationType/Value']","Cal. Frequency":"@outputs('Get_item')?['body/Cal_x002e__x0020_Frequency_x0020']","Calibration Due Date":"@body('Convert_Internal_Calibration_Date_Timezone')","Equipment Status":"@outputs('Get_item')?['body/Equipment_x0020_Status/Value']","Parameters or Remarks":"@body('Parameter_Formating_')"}},"description":"Add a new row to the internal table array."}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each')?['Next_x0020_Calibration']",""]}},{"lessOrEquals":["@outputs('Get_item')?['body/Next_x0020_Calibration']","@outputs('Internal_Due_Date')"]}]},"metadata":{"operationMetadataId":"5d7979c4-4981-41b3-b485-325dc4abde97"},"type":"If","description":"Select only overdue equipment or overdue within 30 days."}}}},"default":{"actions":{}},"expression":"@outputs('Get_item')?['body/CalibrationType/Value']","metadata":{"operationMetadataId":"3b5b67a1-40a4-4b27-b85e-61f4c7815470"},"type":"Switch","description":"After filtering, the possible status is either External or Internal"},"Parameter_Formating_":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"0d314d40-30f9-47e8-9a62-2a8007174b6b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p>@{outputs('Get_item')?['body/Calibration_x0020_Requirement']}</p>"},"authentication":"@parameters('$authentication')"},"description":"Get the plain form of multi-column Parameters or Remarks field."},"Current_Data_Monitor":{"actions":{"Range_of_Period_(Testing_Purpose)":{"runAfter":{},"metadata":{"operationMetadataId":"84f47c18-a2e9-4cee-a2c1-6fbbbad783fd"},"type":"Compose","inputs":"@{items('Apply_to_each')?['Last_x0020_Calibration']} to @{items('Apply_to_each')?['Next_x0020_Calibration']}","description":"Check the calibration period of each equipment (Testing only)"}},"runAfter":{"Parameter_Formating_":["Succeeded"]},"metadata":{"operationMetadataId":"fe2ed6cd-2d40-4667-9b9b-e55e0b7815dd"},"type":"Scope","description":"Data Checking for debugging. Add more Compose to view the run results when necessary."}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"7ba032c2-f292-4dcf-9dc1-38ccbff37927"},"type":"Foreach"}},"runAfter":{"Time_Settings":["Succeeded"]},"metadata":{"operationMetadataId":"1e5ee24d-84dd-4ef1-a461-b3e67347067c"},"type":"Scope"},"Staff_Settings":{"actions":{"Email_Receivers":{"runAfter":{},"metadata":{"operationMetadataId":"60316d82-9ea4-40ab-9a0f-c1d44cc7e6c0"},"type":"Compose","inputs":"Horace.Tung@uknow.com;Kit.Lam@uknow.com;Jacky.Tse@uknow.com","description":"Stakeholders to be sent"},"Email_CCers":{"runAfter":{"Email_Receivers":["Succeeded"]},"metadata":{"operationMetadataId":"54d46e86-5165-42f0-a7ee-8567b38011cc"},"type":"Compose","inputs":"Andy.Ho@uknow.com;Athena.Wong@uknow.com;Lovphy.Liang@uknow.com","description":"Stakeholders to be CC"},"Email_PA_Testers":{"runAfter":{"Email_CCers":["Succeeded"]},"metadata":{"operationMetadataId":"643e29af-c6ff-42a2-91c0-c6b6eaafa9c8"},"type":"Compose","inputs":"Timothy.Chan@uknow.com","description":"Creator or Tester of the Flow"}},"runAfter":{"Internal_Row_Records":["Succeeded"]},"metadata":{"operationMetadataId":"8d57e1db-515e-4ee6-b38d-53a66f8fb02b"},"type":"Scope","description":"Staff Email Settings"},"Time_Settings":{"actions":{"Today":{"runAfter":{},"metadata":{"operationMetadataId":"2b74371c-bafd-40fb-a915-8efbdab2076a"},"type":"Compose","inputs":"@utcNow('yyyy-MM-dd')","description":"Today in yyyy-MM-dd format"},"Today_in_Printed_Format":{"runAfter":{"Today":["Succeeded"]},"metadata":{"operationMetadataId":"8ec9a007-bd9e-4d1c-8b65-46333f6349d5"},"type":"Compose","inputs":"@formatDateTime(outputs('Today'),'MMM yyyy')","description":" Today in MMM yyyy format (e.g. Aug 2023)"},"External_Due_Date":{"runAfter":{"Internal_Due_Date_Criteria":["Succeeded"]},"metadata":{"operationMetadataId":"702630f1-7cd5-454e-8c53-3e972360b078"},"type":"Compose","inputs":"@addDays(outputs('Today'), outputs('External_Due_Date_Criteria'))","description":"Before or equal to External Due Date "},"Reference_Time_+_30_days":{"runAfter":{"Current_time_(Reference_Time_for_Testing)":["Succeeded"]},"metadata":{"operationMetadataId":"bf83bf7b-1763-4b29-a2cf-1fe15278f835"},"type":"Compose","inputs":"@addDays(body('Current_time_(Reference_Time_for_Testing)'),30)","description":"Not use. Testing purpose"},"Internal_Due_Date":{"runAfter":{"External_Due_Date":["Succeeded"]},"metadata":{"operationMetadataId":"6a47fe3a-e258-43e4-9b63-b448565134ff"},"type":"Compose","inputs":"@addDays(outputs('Today'), outputs('Internal_Due_Date_Criteria'))","description":" Before or equal to Internal Due Date"},"Current_time_(Reference_Time_for_Testing)":{"runAfter":{"Internal_Due_Date":["Succeeded"]},"metadata":{"operationMetadataId":"2abf0188-ca38-468e-b31a-e1c1f2654ba3"},"type":"Expression","kind":"CurrentTime","inputs":{}},"External_Due_Date_Criteria":{"runAfter":{"Today_in_Printed_Format":["Succeeded"]},"metadata":{"operationMetadataId":"606b8557-fd2c-4d0c-bf1e-e43777a154cd"},"type":"Compose","inputs":60,"description":"Default 60 days from today."},"Internal_Due_Date_Criteria":{"runAfter":{"External_Due_Date_Criteria":["Succeeded"]},"metadata":{"operationMetadataId":"9d24efa6-ded4-4b4f-89e9-1212af39b4d5"},"type":"Compose","inputs":30,"description":"Default 30 days from today."}},"runAfter":{"Staff_Settings":["Succeeded"]},"metadata":{"operationMetadataId":"bd5cde27-e0f3-4da4-b690-739b80fc4de6"},"type":"Scope","description":"Due Date and Date Format Settings"},"External_Row_Records":{"runAfter":{},"metadata":{"operationMetadataId":"302bd17b-99d5-4ba1-b1df-a28ee54573eb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowExternal","type":"array"}]},"description":"Variable to hold overdue external calibration row records."},"Internal_Row_Records":{"runAfter":{"External_Row_Records":["Succeeded"]},"metadata":{"operationMetadataId":"45817243-7b45-48a3-9fee-a85a2a37d98e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowInternal","type":"array"}]},"description":"Variable to hold overdue internal calibration row records."}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-18fb1200-8fc5-4927-a127-15837e09ec7f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-7f606626-abd0-483d-bd8e-3ec7a9e38bbf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_conversionservice":{"connectionName":"shared-conversionser-22de533a-1374-477d-b142-504e777af6b1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}